extends layout

block css
  link(rel='stylesheet', href='/css/account.css')

block content
  div.detail-box.hidden
    a.close-btn(href='javascript:;')
      span.icon-close
    div.detail-header
    ul
  div.account-left
    div.account-info.clearfix
      if user && user.avatar_url
        img(src='#{user.avatar_url}')
      else if user.portrait_id
        img(src='/get/img?_id=#{user.portrait_id}')
      else
        span.img-item.icon-user
      if user
        p #{user.login}
          a(href='javascript:;',data-tip='修改资料')
            span.info-edit.icon-pencil
    ul.slide-tabs
      li.active
        a 我的文档
      li
        a 我的幻灯片
      li
        a github仓库
      li
        a 我创建的组织
      li
        a 我加入的组织
  div.account-right
    div.edit-box.hidden
      div.form-group.line-input
        label 选择头像
        input(type='file',name='file')
      div.form-group
        button.submit-img.btn.btn-primary 提交
    div#all-docs.item-list
      div.item-header
        a.btn.btn-default(href='/edit',data-tip='添加文档')
          span.icon-plus
      ul
    div#all-decks.item-list.hidden
      div.item-header
        a.btn.btn-default(href='/deck',data-tip='添加幻灯片')
          span.icon-plus
      ul
    ul#all-repos.item-list.hidden
    div#my-orgs.item-list.hidden
      div.item-header
        button.create-org-btn.btn.btn-default(data-tip='创建组织')
          span.icon-plus
        div.create-org-box.form-inline.hidden
          div.form-group.line-input
            label.sr-only 组织名称
            input#org-name(name='name',type='text',placeholder='组织名称',data-validator='required:请输入组织名称')
          div.form-group.line-input
            label.sr-only 组织密码
            input#org-password(name='password',type='text',placeholder='组织密码',data-validator='required:请输入组织密码')
          button.submit-btn.btn.btn-primary 提交
          button.cancel-btn.btn.btn-default 取消
      ul
    div#join-orgs.item-list.hidden
      div.item-header
        button.join-org-btn.btn.btn-default(data-tip='加入组织')
          span.icon-arrow-left
        div.join-org-box.form-inline.hidden
          div.form-group.line-input
            label.sr-only 组织代码
            input#join-org-code(name='code',type='text',placeholder='组织代码',data-validator='required:请输入组织代码')
          div.form-group.line-input
            label.sr-only 组织密码
            input#join-org-password(name='password',type='text',placeholder='组织密码',data-validator='required:请输入组织密码')
          button.submit-btn.btn.btn-primary 提交
          button.cancel-btn.btn.btn-default 取消
      ul

block script
  script(type='text/javascript').
    var url = {
      repos: '#{user.repos_url}'
    };
    var user = '#{user.login}';
  script(type='text/javascript',src='/js/account.js')
