doctype html
html
  head
    title #{title}
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/common.css')
    link(rel='stylesheet', href='/css/animate.css')
    link(rel='stylesheet', href='/css/icon.css')
    link(rel='stylesheet', href='/css/deck.css')
    link(rel='stylesheet', href='/lib/reveal/2.6.2/css/reveal.min.css')
    link(rel='stylesheet', href='/lib/reveal/2.6.2/css/theme/default.css')
    link(rel='stylesheet', href='/lib/reveal/2.6.2/lib/css/zenburn.css')
  body
    if deck
      textarea#deck-content.hidden #{deck.content}
    div.edit-btn-box
      button.edit-btn
        span.icon-arrow-left
    div#slidebar
      div.btn-group.slide-head
        button.btn.btn-success.save-btn
          span.icon-disk
        button.btn.btn-success.preview-btn
          span.icon-eye
      div.slide-body
        div.btn-group.slide-con
          button.btn 设置
            span.icon-cog
          button.btn 样式
            span.icon-quill
          button.btn 导出
            span.icon-download
          button.btn 导入
            span.icon-upload
      div.slide-foot.clearfix
        span.icon-user.account-btn
    div.slide-detail
    div.slide-detail
    div.slide-detail
    div.slide-detail
    div#topbar
      input.bg-color.hidden(type='color')
      input.fg-color.hidden(type='color')
      div.btn-group
    div#rightbar
      div.btn-group
    div.add-slide
      span.icon-plus
    div.add-fragment
      span.icon-plus
    div#deck
      div.reveal
        div.slides
          section
            h2 title
    div#prompt-box
      button.btn.btn-success.opera-btn 完成
    div#account-box.overlay
      ul
        li
          a(href='account/#{user.login}') 个人中心
    div#link-box.overlay
      div.form-group
        input(name='link',type='url',placeholder='请输入链接',data-validator='required:请填写链接')
      button.btn.btn-primary.add-link-btn 确定
    div#img-box.overlay
      div.form-group
        input(name='img',type='url',placeholder='请输入链接图片链接',data-validator='required:请填写图片链接')
      button.btn.btn-primary.add-img-btn 确定
    div#background-box.overlay
      div.form-group
        input(name='img',type='url',placeholder='请输入链接图片链接',data-validator='required:请填写图片链接')
      button.btn.btn-primary.add-img-btn 确定
    div#html-box
      textarea.highlight
    div#save-box
      input(name='_id',type='hidden',value='#{deck._id}')
      div.form-group
        input(name='title',type='text',placeholder='请输入标题',data-validator='required:请输入标题',value='#{deck.title||""}')
    
    script(type='text/javascript', src='/lib/jquery/1.11.0/jquery.js')
    script(type='text/javascript',src='/lib/reveal/2.6.2/lib/js/head.min.js')
    script(type='text/javascript',src='/lib/reveal/2.6.2/js/reveal.js')
    script(type='text/javascript',src='/js/common.js')
    script(type='text/javascript',src='/js/deck.js')
