extends layout

block css
  link(rel='stylesheet', href='/css/edit.css')

block content
  div.edit-box
    div.edit-left
      div.form-group.line-input
        input#title(type="text",placeholder="请输入文档名...",value='#{doc.title||""}',data-validator='required:请输入文档名')
      div.form-group.btn-toolbar
        div.btn-group
          if doc.auth == "private"
            button.auth-btn.active.btn.btn-default(type='button') 不公开
          else
            button.auth-btn.btn.btn-default(type='button') 不公开
          a.file-btn.btn.btn-default.hidden(href='javascript:;',data-tip='查看文档')
            span.icon-file
          button.view-btn.btn.btn-default(data-tip='预览')
            span.icon-eye
      div.editor
        div#editor
        button.btn.btn-primary.col-lg-12.save-btn 保存
        textarea#content.hidden #{doc.content||""}
    div#view.edit-right
  div#preview
    div.preview-con
    
block script
  script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js')
  script(type='text/javascript', src='/lib/showdown/showdown.js')
  script(type='text/javascript').
    var doc = {
      _id:'#{doc._id}',
      user:'#{user.login}',
      title:'#{doc.title}'
    };
  script(type='text/javascript', src='/js/html2canvas.js')
  script(type='text/javascript', src='/js/edit.js')
