extends layout

block css
  link(rel='stylesheet', href='/css/index.css')
  
block content
  div.tools-box
    div.box-head 工具
    div.box-body.clearfix
      each tool in tools
        div.tool-item
          a.tool-link(href='/tools/'+tool.name)
            div.tool-detail
              span(class='#{tool.img}')
          div.tool-title
            a(href='/tools/'+tool.name) #{tool.title}
  if projects
    div.tools-box
      div.box-head 开源项目
      div.box-body.clearfix
        each project in projects
          div.tool-item
            a.tool-link(href='/projects/'+project.name)
              div.tool-detail
                span(class='#{project.img}')
            div.tool-title
              a(href='/projects/'+project.name) #{project.title}
              a.project-github(href='#{project.github}')
                span.icon-github3
  div#doc.tools-box
    div.box-head
      label 文档
      //div.form-group.line-input
        //input
  div#slide.tools-box
    div.box-head
      label 幻灯片
      //div.form-group.line-input
        //input
  
block script
    script(type='text/javascript',src='/js/index.js')
